/* button */
.button {
  /* width: 289px; */
  padding: 12px 32px;
  border: none;
  border-radius: var(--border-47);
  background-color: var(--color-primary);
  font-weight: 800;
  font-size: 17px;
  line-height: 140%;
  color: var(--color-text-light);
  cursor: pointer;
}

.button_light {
  background-color: var(--color-button-light);
  color: var(--color-primary);
}

.button:hover {
  background-color: var(--color-primary-hover);
}

.button_light:hover {
  background-color: var(--color-button-light-hover);
}

.button:active {
  background-color: var(--color-primary-active);
}

.button_light:active {
  background-color: var(--color-button-light-active);
}

/* menu */
.menu {
  display: flex;
  list-style-type: none;
  gap: 32px;
}

.menu__item a {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: var(--color-text-light-opacity-80);
}

.menu__item a:hover {
  color: var(--color-text-light);
}


@media  (max-width: 960px ) {
  .menu {
    display: none;
  }
}