:root {
  --layout-width: 1392px;

  --color-primary: #357efe;
  --color-primary-hover: #3173e6;
  --color-primary-active: #2661c6;
  --color-footer: #1a1d25;
  --color-bg: #ffffff;
  --color-bg-primary: #357efe;

  --color-text: #4e5d7c;
  --color-text-dark: #000000;
  --color-text-light: #ffffff;
  --color-text-opacity: #4e5d7c50;
  --color-text-light-opacity: #ffffff99;
  --color-text-light-opacity-80: #FFFFFF80;
  --color-text-h1: #ffffff;
  --color-text-h2: #000000;
  --color-text-light-h2: #ffffff;
  --color-text-h3: #000000;
  --color-text-h4: #000000;
  --color-text-h6: #000000;
  --color-text-tooltip: #FF6536;

  --color-bg-discount: #1abc9c;
  --color-hr: #4e5d7c14;
  --color-hr-opacity: #ffffff29;
  --color-benefit: #ffc736;
  --color-button-light: #ffffff;
  --color-button-light-hover: #eeeeee;
  --color-button-light-active: #dddddd;  
  --color-border-primary: #357efe;
  --color-border-light-opacity-16: #FFFFFF16;
  

  --border-8: 8px;  
  --border-16: 16px;
  --border-47: 47px;

  --shadow: 0px 0px 32px rgba(78, 93, 124, 0.16);
  --shadow-32: 0px 0px 32px rgba(78, 93, 124, 0.32);
}

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background-color: var(--color-bg);
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.relative {
  position: relative;
}
