/* header */
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 57px;
}

.header__logo {
  font-weight: 900;
  font-size: 36px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--color-text-light);
}
