.hero {
  background-color: var(--color-bg);
  border: none;
  position: relative;
  z-index: -2;
}

.hero__substrite {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: clamp(420px, 35vw, 560px);
  background-color: var(--color-bg-primary);
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 100vw * 0.122784561),
    0 100%
  );
  will-change: transform;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 80px;
  margin-bottom: 147px;
}

.hero__main-block {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.hero__left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 50%;
}

.hero__bottom-block {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px;
}

.hero__button {
  margin-bottom: 80px;
}

.hero__right {
  margin-right: -102px;
  width: 100%;
}

.hero__right img {
  width: 100%;
}

.hero__logo-marketplaces {
  width: 100%;
}

/* media */
@media (max-width: 1600px) {
  .hero__right {
    margin-right: 0;
  }
}

@media (max-width: 1350px) {
  .hero__logo-marketplaces img {
    width: 264px;
    height: auto;
  }

  .hero__bottom-block {
    gap: 32px;
  }
}

@media (max-width: 1090px) {
  .hero__left {
    width: 60%;
  }
  .hero__right {
    width: 90%;
  }
}

@media (max-width: 960px) {
  .hero__right {
    display: none;
  }
  .hero__left {
    width: 100%;
  }
  .hero__container {
    padding-top: 32px;
  }

  .hero__bottom-block {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 535px) {
  .hero__button {
    margin-bottom: 56px;
    padding: 12px 10px;
    padding: 12px 10px; /* Пришлось уменьшить Padding из-за отображения на старом ноуте */
  }

  .hero__container {
    gap: 135px;
  }
}

@media (max-width: 390px) {
  .hero__substrite {
    height: clamp(450px, 35vw, 560px);
  }
}
