.mobile__container {
  margin-bottom: 120px;
  flex-direction: column;
  overflow: scroll;
  scrollbar-width: 0;
}

.mobile__container::-webkit-scrollbar {
  display: none;
}

.mobile__h2 {
  margin-bottom: 24px;
}

.mobile__subtitle {
  margin-bottom: 40px;
}

.mobile__image img {
  width: 100%;
}

/* media */
@media (max-width: 960px) {
  .mobile__container {
    align-items: start;
  }
  
  .mobile__h2 {
    text-align: start;
  }

  .mobile__image img {
    height: auto;
    width: 677px;
  }
}

@media (max-width: 535px) {
  .mobile__container {
    margin-bottom: 64px;
  }
  .mobile__subtitle {
    margin-bottom: 32px;
  }
}
