/* header */
.header {  
  background-color: var(--color-bg-primary);
  border: none;
}

/* section */
.section {
  background-color: var(--color-bg);
  border: none;
}

.section_primary {
  background-color: var(--color-bg-primary);
}

/* container */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--layout-width);
  margin: 0 auto;
  padding: 0 24px;
}

