.presentation {
  border: none;
  padding-bottom: 120px;
}

.presentation__wrapper {
  display: flex;
  align-items: center;
}

.presentation__wrapper_reverse {
  flex-direction: row-reverse;
}

.presentation__content-wrapper {
  padding-left: 92px;
}

.presentation__content-wrapper_reverse {
  padding-left: 0;
}

.presentation__content {
  flex: 1;
}

.presentation__image {
  flex: 1;
  width: 100%;
  max-width: calc(var(--layout-width) / 2);
}

.presentation__h3,
.presentation__subtitle {
  padding-left: 26px;
  max-width: 565px;
}

/* media */
@media (max-width: 1350px) {
  .presentation {
    padding-bottom: 48px;
  }
}

@media (max-width: 960px) {
  .presentation__wrapper {
    flex-direction: column-reverse;
    gap: 32px;
    align-items: start;
  }

  .presentation__content-wrapper {
    padding-left: 0;
  }

  .presentation__h3,
  .presentation__subtitle {
    padding-left: 0;
  }
}

@media (max-width: 535px) {
  .presentation__image_tooltip {
    width: 234px;
    height: auto;
    margin-left: -24px;
  }

  .presentation__image_ml-24 {
    width: 360px;
    height: auto;
    margin-left: -24px;
  }
}
