* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #374151;
  margin: 0;
}

h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin: 0 0 30px 0;
  text-align: center;
}

header {
  display: flex;
}

nav {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 55px;
}

p {
  margin: 0;
}

img:not(.profileDeveloper img) {
  margin: 0 0 69px 0;
}

main {
  margin: 0 0 70px 0;
}

footer {
  margin: 0 0 77px 0;
}

.screen {
  margin: 0 auto;
}

@media (min-width: 1095px) {
  .screen {
    width: 1080px;
  }
}

@media screen and (max-width: 1095px) {
  .screen {
    min-width: 800px;
  }
}

.navBlock a {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #ffffff;
}

.navLeftBlock {
  display: flex;
  align-items: center;
  gap: 11px;
}

.navLogo {
  display: flex;
  width: 35px;
  height: 35px;
  background-color: #4b5563;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}

.navTextLogo {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;  
}

.inputSearch {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #1f293799;
  height: 22px;
  border-radius: 100px;
  border-width: 0;
  padding: 9px 0 9px 49px;
}

.directionDate {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.6;
  text-align: center;
  margin: 0 auto 14px auto;

}

.nameDeveloper {
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  margin: 0;
}

.profession {
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  opacity: 0.6;
  margin: 0;
}

.profileDeveloper {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin: 0 0 28px 0;
}

.imgBlock {
  display: flex;
  justify-content: center;
}

.heroText {
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  margin: 0 156px 35px;
}

.textBlock {
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  margin: 0 156px 35px;
}

.copyright {
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  opacity: 0.6;
  text-align: center;
}

.navRightBlock {
  position: relative;
}

.searchIco {
  position: absolute;
  margin-left: 18px;
  margin-top: calc((40px - 14px) / 2);
}
